body {
  background-color: #808080;
  
}

body { 
    background: url("https://cdn0.vox-cdn.com/thumbor/F8gBVmTvA3CNUZxexj4V05T0qHk=/17x0:758x417/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/48958083/rockpaperscissors.0.0.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
  color: black;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Times';
}

h1 {
  color: white;
  font-weight: bold;
  font-family: 'Times', cursive;
  font-size: 38px;
  text-align: center;
  background-color: #ff3333;
  background-size: cover;
}

.button {
  height: 90px;
  width: 90px;
  text-align: center;
  color: red;
  text-weight: bold;
  font-size: 16px;
  font-type: Times;
}

@import url(http://fonts.googleapis.com/css?family=Sansita+One);



.big-button {
  position: relative;
  background-color: red;
  color: black;
  font-family: 'Sansita One', cursive;
  font-size: 26px;
  font-weight: 500;
  
  margin: 10px auto;
  padding: 20px;
  height: 125px;
  width: 230px;
  text-decoration: none;
  text-transform: capitalize;
  
  
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  
  -webkit-box-shadow: 0px 15px 0px #ff0000, 0px 10px 25px #ff0000);
  -moz-box-shadow: 0px 15px 0px #ff3333, 0px 10px 25px rgba(0,0,0,.5);
  box-shadow: 0px 15px 0px #ff9999, 0px 10px 25px #cc0000;
  
  margin: 50px auto;
  
  border-color: red;
  border-width: 10px;
  border-radius: 40px 100px 100px 100px;
  padding: 20px;
}

.big-button:active {
  box-shadow: 0px 3px 0px #33CC33, 0px 3px 6px #ff9999;
  position: relative;
  top: 10px;
}

.shadow {
  background: #ff9999;
  border-radius: 40px 100px 100px 100px;
  box-shadow: 0 0 20px 10px #111;
  height: 120px;
  width: 270px;
  opacity: 0.2;
  margin: 30px auto;
}
.shadow:active {
  box-shadow: 0px 3px 0px #33cc33, 0px 3px 6px #ff9999;
  position: relative;
  top: 10px;
}

@import "compass/css3";
@import "compass/css3/transform";
@import url(http://fonts.googleapis.com/css?family=Bangers); 

.wrap {
  padding: 5em, 0.5em;
  margin: auto;
}